Source: jce-cn-cpu-miner
Section: net
Priority: optional
Maintainer: Adam Cecile <acecile@le-vert.net>
Build-Depends: debhelper (>= 9), debhelper (>= 9.20160709) | dh-systemd,
 unzip,
Standards-Version: 4.1.1
Homepage: https://github.com/jceminer/cn_cpu_miner/

Package: jce-cn-cpu-miner
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, adduser
Description: Cryptonight mining for CPUs.
 Cryptonight mining for CPUs.
